In [1]:
import pandas as pd

In [5]:
econs = pd.read_csv('Data/nationalCountyEconomics.csv', index_col=[0])
dems = pd.read_csv('Data/labeledTractDemographics.csv', index_col=[0])
demsXpolling = pd.read_csv('Data/merged demographics and polling data 2018.csv', index_col=[0])

In [6]:
econs.head()

,State,County,Tract,Drive,Carpooled,Transit,Walked,Other,MBSA,Service,...,IWholesale,IRetail,IUtilities,IInformation,IFinance,IProfessional,ISocial,IRecreation,IOther,IPublic
0,AL,Autauga,12370.15,106395.0,11315.0,360.0,1030.0,1015.0,35695.0,20595.0,...,3790.0,15415.0,5385.0,1370.0,7950.0,8515.0,21215.0,10560.0,5540.0,14200.0
1,AL,Baldwin,66543.65,322295.0,40555.0,1205.0,5555.0,3830.0,123755.0,68935.0,...,14420.0,54070.0,21020.0,6800.0,26890.0,38745.0,70360.0,37390.0,19355.0,18040.0
2,AL,Barbour,427725.00,38155.0,7125.0,150.0,1135.0,805.0,13170.0,7755.0,...,630.0,6185.0,3925.0,405.0,1880.0,1940.0,7435.0,2895.0,1960.0,3115.0
3,AL,Bibb,2000.50,40460.0,5005.0,250.0,420.0,595.0,9860.0,6490.0,...,1115.0,6730.0,5120.0,395.0,2810.0,2295.0,6745.0,1930.0,4055.0,1960.0
4,AL,Blount,22675.30,96675.0,17105.0,65.0,1760.0,385.0,30460.0,19800.0,...,4740.0,14290.0,8600.0,1760.0,5715.0,8270.0,21640.0,8005.0,7240.0,5035.0

In [7]:
dems.head()

,CensusTract,State,County,Hispanic,White,Black,Native,Asian,Pacific,Citizen,...,PublicWork,SelfEmployed,FamilyWork,Unemployment,Voters,Workers,Locations,Hours,eff_score,timeToVote
0,48001950100,Texas,anderson,9.4,80.2,8.8,1.0,0.2,0.0,3428,...,18.3,4.8,0.2,4.2,27030,77,22,12,0.752053,45.123196
1,48001950401,Texas,anderson,26.9,33.4,39.1,0.0,0.6,0.0,4824,...,61.5,2.0,0.0,18.2,27030,77,22,12,0.752053,45.123196
2,48001950402,Texas,anderson,23.2,32.9,43.5,0.0,0.2,0.0,6494,...,27.3,0.0,0.0,0.0,27030,77,22,12,0.752053,45.123196
3,48001950500,Texas,anderson,31.6,44.7,21.0,0.5,0.2,0.0,2822,...,17.4,15.4,0.0,4.7,27030,77,22,12,0.752053,45.123196
4,48001950600,Texas,anderson,18.1,50.3,29.6,0.2,0.1,0.0,4356,...,20.4,2.8,0.0,4.0,27030,77,22,12,0.752053,45.123196

In [19]:
demsXpolling.head()

,County,State,Total Pop.,VAP Males,VAP Females,Pop. 20 to 24,Pop. 25 to 34,Pop. 35 to 44,Pop. 45 to 54,Pop. 65 to 74,...,Pop. 0 to 9,Pop. 10 to 19,Pop. 55 to 64,State Name,Active Voters,Ballots Cast,Polling Places,Poll Workers,Hours Open,Time to Vote
0,Morgan,AL,119089,42522,45605,7421,13754,14793,15950,12050,...,15064,15228,16415,ALABAMA,75334,39636,39.0,273.0,12,101.758038
1,Kings,CA,151366,53103,42321,11790,25319,21572,17598,8751,...,22809,22464,14401,CALIFORNIA,52631,30606,24.0,114.0,12,37.428892
2,Monterey,CA,435594,116568,114453,31653,61898,57220,51007,34393,...,62212,63820,48293,CALIFORNIA,187350,117631,84.0,934.0,12,301.512250
3,Nevada,CA,99696,39033,40665,3523,9913,11461,11607,17493,...,8370,10297,16779,CALIFORNIA,68954,54996,8.0,46.0,12,3.842562
4,Shasta,CA,180040,66476,69851,10406,22402,20206,20670,21481,...,21775,20858,26696,CALIFORNIA,101782,70851,84.0,347.0,12,206.191272

# Problem

the economics table uses lower case county and state names while the demographics and polling uses Titled county names and state codes.

# Solution
1. Convert the columns in economics to match the columns in demsXpolling

In [8]:
# Used ChatGPT to make this variable
state_codes = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
    'American Samoa': 'AS',
    'Guam': 'GU',
    'Northern Mariana Islands': 'MP',
    'Puerto Rico': 'PR',
    'United States Virgin Islands': 'VI',
    'District of Columbia': 'DC'
}

In [9]:
econs['State'] = econs['State'].apply(lambda x: x.title()).replace(state_codes)
econs['County'] = econs['County'].apply(lambda x: x.title())
econs.head()

,State,County,Tract,Drive,Carpooled,Transit,Walked,Other,MBSA,Service,...,IWholesale,IRetail,IUtilities,IInformation,IFinance,IProfessional,ISocial,IRecreation,IOther,IPublic
0,Al,Autauga,12370.15,106395.0,11315.0,360.0,1030.0,1015.0,35695.0,20595.0,...,3790.0,15415.0,5385.0,1370.0,7950.0,8515.0,21215.0,10560.0,5540.0,14200.0
1,Al,Baldwin,66543.65,322295.0,40555.0,1205.0,5555.0,3830.0,123755.0,68935.0,...,14420.0,54070.0,21020.0,6800.0,26890.0,38745.0,70360.0,37390.0,19355.0,18040.0
2,Al,Barbour,427725.00,38155.0,7125.0,150.0,1135.0,805.0,13170.0,7755.0,...,630.0,6185.0,3925.0,405.0,1880.0,1940.0,7435.0,2895.0,1960.0,3115.0
3,Al,Bibb,2000.50,40460.0,5005.0,250.0,420.0,595.0,9860.0,6490.0,...,1115.0,6730.0,5120.0,395.0,2810.0,2295.0,6745.0,1930.0,4055.0,1960.0
4,Al,Blount,22675.30,96675.0,17105.0,65.0,1760.0,385.0,30460.0,19800.0,...,4740.0,14290.0,8600.0,1760.0,5715.0,8270.0,21640.0,8005.0,7240.0,5035.0

In [10]:
dems['State'] = dems['State'].apply(lambda x: x.title()).replace(state_codes)
dems['County'] = dems['County'].apply(lambda x: x.title())
dems.head()

,CensusTract,State,County,Hispanic,White,Black,Native,Asian,Pacific,Citizen,...,PublicWork,SelfEmployed,FamilyWork,Unemployment,Voters,Workers,Locations,Hours,eff_score,timeToVote
0,48001950100,TX,Anderson,9.4,80.2,8.8,1.0,0.2,0.0,3428,...,18.3,4.8,0.2,4.2,27030,77,22,12,0.752053,45.123196
1,48001950401,TX,Anderson,26.9,33.4,39.1,0.0,0.6,0.0,4824,...,61.5,2.0,0.0,18.2,27030,77,22,12,0.752053,45.123196
2,48001950402,TX,Anderson,23.2,32.9,43.5,0.0,0.2,0.0,6494,...,27.3,0.0,0.0,0.0,27030,77,22,12,0.752053,45.123196
3,48001950500,TX,Anderson,31.6,44.7,21.0,0.5,0.2,0.0,2822,...,17.4,15.4,0.0,4.7,27030,77,22,12,0.752053,45.123196
4,48001950600,TX,Anderson,18.1,50.3,29.6,0.2,0.1,0.0,4356,...,20.4,2.8,0.0,4.0,27030,77,22,12,0.752053,45.123196

In [23]:
econs.to_csv('Data/nationalCountyEconomics.csv')

In [11]:
dems.to_csv('Data/CensusTractDemographics.csv')